.textarea {
  width: 100%;
  height: 100px;
  font-family: inherit;
  margin: 0 auto 30px auto;
  color: #505050;
  font-size: 16px;
  border-bottom: 1px solid #98648b;
  resize: none;
  padding: 6px;
}

.contact-form {
  width: 75%;
  margin: 40px auto 0 auto;


  @media screen and (max-width: 600px) {
    width: 95%;
    margin: 3rem auto 1rem auto;
  }
}