.contact-img {
  width: 100%;
  height: 250px;
  margin: 0 auto;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.contact-icon {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  cursor: pointer;
}

.content {
  width: 80%;

  @media screen and (max-width: 600px) {
    width: 95%;
    margin: 6rem auto 1rem auto;
  }
}